/* Fondo con degrade*/
#main-content {
    --background: linear-gradient(135deg, #A16CDC, #D3A8F7); 
    margin-top: 30px;
  }
  
  ion-list{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  ion-button {
    --background: linear-gradient(135deg, #DB00AB, #163ADB);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  ion-button:hover {
    opacity: 0.8;
  }
