<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      Usuarios Actuales
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let usuario of usuarios">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="usuario.Foto_Perfil ? 'assets/' + usuario.Foto_Perfil : 'assets/imagenes/default-avatar.png'" alt="Foto de perfil">
        </ion-avatar>
        <ion-label>
          <h2>{{ usuario.Nickname }}</h2>
          <p><strong>Correo:</strong> {{ usuario.Correo }}</p>
          <p><strong>Teléfono:</strong> {{ usuario.Telefono || 'No disponible' }}</p>
          <p><strong>Estado:</strong> {{ usuario.Activo ? 'Activo' : 'Inactivo' }}</p>
          <p><strong>Estado:</strong> {{ usuario.Admin ? 'Administrador' : 'Usuario' }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/iniciosesion">
          Regresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
