<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/crear-categoria">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1 class="center-title">Explora las categorías</h1>

<!-- Lista de todos los elementos -->
<ion-card *ngFor="let categoria of categorias">
  <ion-card-header>
    <ion-card-title>{{ categoria.Titulo }}</ion-card-title>
  </ion-card-header>

  <ion-img [src]="'assets/' + categoria.Imagen" alt="imagen de categoría"></ion-img>
  <ion-card-content>
    {{ categoria.Descripcion }}
  </ion-card-content>

  <ion-button expand="block" [routerLink]="'/' + categoria.Url">
    {{ categoria.Boton }}
  </ion-button>
</ion-card>
</ion-content>
