<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"> 
  <h1 class="center-title">Explora las categorías</h1>
<!-- Formulario para añadir un elemento -->
<ion-item>
  <ion-input label="Categorias: " [(ngModel)]="categoria" name="categoria"></ion-input>
  <ion-button (click)="create()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</ion-item>

<!-- Lista de todos los elementos -->
<ion-list>
  <ion-item-sliding *ngFor="let categoria of categorias">
    <!-- elemento -->
    <ion-item>
      <ion-label>{{categoria}}</ion-label>
    </ion-item>

  </ion-item-sliding>
</ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Salud y cuidados</ion-card-title>
    </ion-card-header>

    <ion-img [src]="'assets/veterinaria.png'" alt="imagenP"></ion-img>

    <ion-card-content>
      Aquí encontrarás contenidos sobre salud y cuidados para tu mascota!
    </ion-card-content>
    <ion-button expand="block" routerLink="/salud" >
      Foro de salud
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Reseñas de productos
      </ion-card-title>
    </ion-card-header>

    <ion-img [src]="'assets/reseñap.webp'" alt="reseñaP"></ion-img> 

    <ion-card-content>
      Aquí encontrarás reseñas de productos para tu mascota.
    </ion-card-content>
    <ion-button expand="block" routerLink="/resenas" >
      Foro de reseñas
    </ion-button>
  </ion-card>
</ion-content>
