<ion-content id="main-content" fullscreen="true"> 
<h1 class="center-title">Explora las categorías</h1>
<!-- Lista de todos los elementos -->
<ion-card *ngFor="let categoria of categorias">
  <ion-card-header>
    <ion-card-title>{{ categoria.Titulo }}</ion-card-title>
  </ion-card-header>

  <ion-img [src]="'assets/' + categoria.Imagen" alt="imagen de categoría"></ion-img>
  
  <ion-card-content>
    {{ categoria.Descripcion }}
  </ion-card-content>

  <ion-button expand="block" [routerLink]="'/articulos/' + categoria.Id">
    {{ categoria.Boton }}
  </ion-button>

  <!-- Panel de acciones -->
  <div class="panel-acciones" *ngIf="esAdmin">
    <ion-button color="primary" [routerLink]="'/crear-categoria/' + categoria.Id">
      <ion-icon slot="start" name="create"></ion-icon>
      Editar
    </ion-button>
    <ion-button color="danger" (click)="eliminarCategoria(categoria.Id)">
      <ion-icon slot="start" name="trash"></ion-icon>
      Eliminar
    </ion-button>
  </div>
</ion-card>
</ion-content>
<ion-footer *ngIf="esAdmin">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/crear-categoria">
        <ion-icon slot="start" name="add"></ion-icon>
        Crear Nueva Categoría
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

