<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <div class="logo-container">
     
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre de Usuario:</ion-label>
          <ion-text>{{ userData.Nickname }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Correo Electrónico:</ion-label>
          <ion-text>{{ userData.Correo }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <ion-text>{{ userData.Telefono }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Admin</ion-label>
          <ion-toggle [(ngModel)]="userData.Admin"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
