<ion-content id="main-content" class="ion-padding">
  <div class="welcome">
    <h1>¡BIENVENIDO A MASCOTIN!</h1>
    <p>Donde las mascotas brillan</p>
  </div>

  <ion-img src="assets/homeP.webp" class="central-img"></ion-img>

  <div class="footer-text">
    <p>Un lugar donde podrás encontrar todo sobre tus mascotas, desde salud hasta anécdotas y reseñas de productos para tu peludo.</p>
  </div>

  <div class="admin-link">
    <a routerLink="/admin" class="admin-link-text">Admin</a>
  </div>
</ion-content>
