<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>
<div></div>
<ion-content id="main-content">
  <mat-card *ngFor="let articulo of articulos" class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <img src="assets/avatarp.jpg" alt="User Avatar" />
      </div>
      <mat-card-title>{{ articulo.Id_Usuario }}</mat-card-title>
      <mat-card-subtitle>{{ articulo.Titulo_Articulo }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'assets/' + (articulo.Imagen ? articulo.Imagen : 'default.jpg')" alt="Imagen del artículo">
    <mat-card-content>
      <p>
        {{ articulo.Descripcion }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Me gusta</button>
      <button mat-button>Comentar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="articulos.length === 0" class="example-card">
    <mat-card-content>
      <p>No hay artículos disponibles.</p>
    </mat-card-content>
  </mat-card>
</ion-content>
