<ion-content id="main-content">
  <h1 class="center-title">Regístrate</h1>
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="registrar()" autocomplete="off">
      <!-- Campo de Nombres -->
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="nombres" type="text"></ion-input>
      </ion-item>
      <div class="error" *ngIf="formSubmitted && registerForm.get('nombres')?.errors?.['required']">
        Los nombres son obligatorios.
      </div>

      <!-- Campo de Nickname -->
      <ion-item>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input formControlName="nickname" type="text"></ion-input>
      </ion-item>
      <div class="error" *ngIf="formSubmitted && registerForm.get('nickname')?.errors?.['required']">
        El nickname es obligatorio.
      </div>

      <!-- Campo de Correo -->
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="correo" type="email"></ion-input>
      </ion-item>
      <div class="error" *ngIf="formSubmitted && registerForm.get('correo')?.errors?.['required']">
        El correo es obligatorio.
      </div>
      <div class="error" *ngIf="formSubmitted && registerForm.get('correo')?.errors?.['pattern']">
        Debe ser un correo válido (example&#64;domain.com).

      </div>

      <!-- Campo de Teléfono -->
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="telefono" type="tel"></ion-input>
      </ion-item>

      <!-- Campo de Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="clave" type="password" autocomplete="off"></ion-input>
      </ion-item>
      <div class="error" *ngIf="formSubmitted && registerForm.get('clave')?.errors?.['required']">
        La contraseña es obligatoria.
      </div>
      <div class="error" *ngIf="formSubmitted && registerForm.get('clave')?.errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres.
      </div>

      <!-- Campo de Confirmar Contraseña -->
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="repetirClave" type="password" autocomplete="off"></ion-input>
      </ion-item>
      <div class="error" *ngIf="formSubmitted && registerForm.get('repetirClave')?.errors?.['required']">
        Debe repetir la contraseña.
      </div>
      <div class="error" *ngIf="formSubmitted && registerForm.get('repetirClave')?.errors?.['mismatch']">
        Las contraseñas no coinciden.
      </div>

      <ion-button expand="block" type="submit">
        Registrarse
      </ion-button>
    </form>
  </div>
</ion-content>
